.App {
  text-align: center;
  min-width: 600px;
  min-height: 516px;
}

.githubContainer {
  position: fixed;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  transform: rotate(45deg);
  padding: 2.3rem 1rem 0.7rem;
  right: -78px;
  top: -12px;
  width: 200px;
  box-shadow: 0.25rem 0 0.7rem 0.25rem #828282;
}

.githubImgContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.header {
  background-color: #c7c7c7;
}

.headerText {
  text-align: center;
  padding: 1rem;
}

.comp {
  border: 2.8px solid #828282;
  padding: 16px;
  border-radius: 1rem;
}

.compContainer {
  display: flex;
  justify-content: space-between;
}

.compA {
  max-width: 600px;
  margin: 1rem auto;
}

button {
  background-color: #ffffff;
  border: 1px solid #000000;
  height: 2rem;
  box-shadow: 0.25rem 0.25rem 0 0 #000000;
  margin: 1rem;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
  box-shadow: none;
}

.hr {
  width: 1px;
  background-color: #000000;
  border: none;
}

.footer {
  padding: 1rem;
}

.footerText {
  background-color: #ffffff;
  text-align: center;
}

.footerText a {
  color: #828282;
  text-decoration: none;
}

.footerText a:hover {
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .App {
    min-height: 500px;
  }

  hr {
    display: none;
  }
}
